/* COLORS: */
:root {
    --primary-color: white;
    --secondary-color: #e3bac6;
    --terciary-color: #bcd4de;
    --first-accent: #1f2232;
    --second-accent: #ffffff;
}

/* FONTS: */ /* TEKO | WORK SANS */
h1, h2, h3, h4, a, label, .submitBtn{
    font-family: 'Albert Sans', sans-serif;
}
p, span, ul {
    font-family: 'Barlow', sans-serif;
}

/* GENERAL: */
body {
    max-width: 100%;
    min-width: 320px;
    background: var(--primary-color);
    font-size: 1rem;
    margin: 0;
}

/* HEADER: */
header {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: var(--terciary-color);
   
}
header a {
    text-decoration: none;
    padding: 0.7rem;
}

#header-address {
    padding: 0 0.5rem;
}
#header-address, #header-phone {
    font-size: 1.3rem;
}
.logo {
    
    max-width: 160px;
    padding: 0.7rem;
}

.company-name {
    margin: -5px 0 0 0;
    color: var(--first-accent);
    font-size: 2.5rem;
}

/* Navigation: */
nav {
    background-color: var(--secondary-color);
}

#menu-btn {
    margin: .4rem 2vh;
    background: transparent;
    border: none;
    font-size: 1.3rem;
    color: var(--first-accent);
}

#menu-btn :hover {
    cursor: pointer;
}

#menu-btn span:nth-child(1) {
    display: block;
}
#menu-btn span:nth-child(2) {
    display: none;
}

#menu-btn.open span:nth-child(1) {
    display: none;
}
#menu-btn.open span:nth-child(2) {
    display: block;
}

#primary-nav {
	list-style-type: none;
	overflow: hidden;
    padding: 0;
    margin: 0 15px;
    background-color: var(--secondary-color);
}

#primary-nav li a {
    font-weight: bold;
    display: block;
    height: 2rem;
	font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
    padding: 0.5rem;
}

#primary-nav a:hover {
    border-left: 3px solid var(--first-accent);
    color: var(--terciary-color);
    padding-left: .4rem;
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

/* MAIN: */
main {
    background-color: var(--primary-color);
    margin: 1rem auto;
    max-width: 95%;
}

/* FOOTER: */
footer {
    min-height: 6rem; 
    background-color: var(--secondary-color);
    color: var(--second-accent);
    text-align: center;
}
.footer-hr {
    width: 65%;
}
#footer-logo {
    padding: 0.7rem;
}
footer a{
    color: white;
    font-size: 1.2rem; text-decoration: none;
}
#footer-links, #socials {
    padding: 0.2rem;
    justify-content: center;
    align-content: center;
}