@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Fira+Sans&display=swap');
body {
    background-color: #E4F0D0;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    
}
#content {
    background-color: #fffcf7;
    padding: 30px;
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 7px;
    
}
h1 {
    font-size: 2em;
    font-family: 'Fira Sans', sans-serif;
    
}
h2 {
    font-size: 1.5em;
    font-family: 'Fira Sans', sans-serif;
}
h1, h2 {
    padding: 10px;
}
h3 {
    font-family: 'Barlow', sans-serif;
    
}
ol, ul {
    text-align: left;
}
p {
    line-height: 1.5em;
}
p, .jura {
    font-family: 'Barlow', sans-serif;
}
p, ol {
    margin-left: 6em;
    margin-right: 6em;
    font-family: 'Barlow', sans-serif;
}
ol li {
    line-height: 1.5em;
}
.logo {
    width: 190px;
    padding-bottom: 50px;
}
.pri, .sec, .acc1, .acc2, .acc3 {
    margin: 40px 0 15px 0;
}
nav ul {
    padding-inline-start: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #738290;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 7px 10px #888888;
}
nav li {
    padding: 20px 60px 20px 60px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
nav a:hover {
    
    color: black;
}
nav li:hover {
    background-color: #A1B5D8;
}

.pri {
    background-color: #e4f0d0;
}
.sec {
    background-color: #a4c487;
}
.acc1 {
   background-color: #a1b5d8;
}
.acc2 {
    background-color: #738290;
}
.acc3 {
    background-color: #eeeae8;
}
.sitemap {
    width: 100%;
}
#topo {
    height: 100vh;
}
section a {
    font-size: 1.5em;
    color:#8F6B60;
    font-family: Basic, 
}
.footer {
    background-color: #a4c497;
    color: black;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    font-size: .9rem;
    margin-top: 2rem;
}

.footer span {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) { 
    nav a {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 750px) { 
    nav ul {
        display: block;
    }
    nav li {
        padding: 10px;
        text-align: center;
    }
    nav a {
        font-size: 1.3em;
    }
    p, ol {
        margin-left: 2em;
        margin-right: 2em;
    }
}

