@media screen and (max-width: 751px){
    .title{
        font-size: 15px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 130px);
        grid-gap: 5px;
        height: 945px;
    }
    p.spot3{
        display: none;
    }
    #hero{
        grid-row: 1/2;
    }
    #spotlight{
        grid-row: 6/8;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    #spotlight p{
        border: 1px solid black;
    }
}