/* Medium View: */
@media (min-width: 32.5em) { /* 520px */

    /* Navigation: */
    #primary-nav a#reservations-nav-btn {
        border-left: none;
        border-bottom: 3px solid var(--first-accent);
        color: var(--terciary-color);
    }

    /* Main: */
    .rental-agreement {
        font-size: 1.2rem;
    }
}