@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Fira+Sans&display=swap');
:root {
    --h-text: 'Fira Sans', sans-serif;
    --t-text: 'Barlow', sans-serif;
    --text-color: #01161E;
    --primary-color: #bcd4de;
    --secondary-color: #A4ccd1;
    --accent-color1:#a0b9bf;
    --accent-color2: #9dacb2;
    --accent-color3: #949ba0;
}


h1,
h2 {
    margin: 0;
    font-family: var(--h-text);
    letter-spacing: 0.15em;
}









#scooters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}

.scooter {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    background-color: #77C2AF;
    border-radius: 1rem;
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;
}