@media screen and (min-width: 1020px) {
    .logo{
        width: 150px;
        grid-column: 3/4; 
        border-radius: 10em;
        height: 75px;
    }
    
    .ham{
        display: none;
    }
    .title{
        font-size: 24px;
        display:center;
    
    }
    .nav-menu{
        background-color: #A1B5D8;
        display: flex;
        list-style: none;
        font-size: 18px;
        line-height: 50px;
        
        justify-content: space-evenly;
        padding: 0px 5px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 170px);
        grid-gap: 10px;
        height: 540px;
    }
    #hero{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #join{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #news{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    p.spot3{
    display:block;
    }
    #spotlight{
        grid-column: 3/4;
        grid-row: 1/4;
        
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }
    #spotlight p{
        border: 1px solid black;
    }
}